{% comment %} 


its a index.html page backup


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TextUtil-text analyzer</title>
</head>
<body>
    <nav>
        <h1>TextUtil-text analyzer</h1>
    </nav>

    <main>
        <form action='/text' method='get'>
            <input type="text" name="analyze_txt" style="padding:10px; width:200px;">
            <br>    
            <input type="checkbox" name="check_on">Remove Punctuations <br>
            <input type="checkbox" name="CAPATILIZE">CAPITALIZATION<br>
            <input type="checkbox" name="remove_newLine">Remove NewLine <br>
            <input type="checkbox" name="extra_space">Remove Extra Space <br>
            <input type="checkbox" name="character_counter">Count Characters <br>
            <button type="submit">Analyze Text</button>
        </form>
    </main>
    
</body>
</html> {% endcomment %}



{% comment %} ************************************** {% endcomment %}
{% comment %} 

This is Analyze.html page backup

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analyzing Your Text...</title>
</head>
<body>
    <h1>Analyzing Your Text - {{purpose}}</h1>
   
    
</body>
</html> {% endcomment %}